<%- include('./partials/head'); %>

    <body>
        <header>
            <a class="btnBack" href="/"><small>Back</small></a>
            <h1>Create User</h1>
        </header>

        <main>
            <form action="/createNewUser" method="post" class="formUser">
                <h1>Create new user</h1>
                <input type="text" name="name" placeholder="Nome" value="<%= body.name %>" required autocomplete="off">
                <input type="number" name="age" placeholder="Idade" value=<%=body.age %> required autocomplete="off">
                <input type="email" name="email" placeholder="E-mail" value="<%= body.email %> " required>
                <input type="submit" value="Ok" autocomplete="off">
            </form>
            <% if (err) { %>
                <h3>
                    <%= err.message %>
                </h3>
                <% } %>
        </main>


    </body>

    </html>