<%- include('./partials/head'); %>

    <body>
        <header>
            <a class="btnBack" href="/"><small>Back</small></a>
            <h1>Edit User</h1>
        </header>

        <main>


            <form action="/editUser/<%=body.id%> " method="post" class="formUser">
                <h1>Edit user</h1>
                <input type="text" name="name" placeholder="Nome" id="" value="<%= body.name %>">
                <input type="number" name="age" placeholder="Idade" id="" value= <%= body.age %> >
                <input type="email" name="email" placeholder="E-mail" id="" value="<%= body.email %> ">
                <input type="submit" value="Edit">
            </form>
            <% if (err) { %>
                <h3>
                    <%= err.message %>
                </h3>
                <% } %>
        </main>
    </body>

    </html>